<div class="bao-all-main-content" *ngIf="!hasWork">
  <div class="container">
    <div class="row cus-20">
      <div class="col-md-10 col-md-offset-1">
        <div class="main-nav-breakcrumb">Không có đề tài trong hệ thống</div>
      </div>
    </div>
  </div>
</div>

<div class="bao-all-main-content" *ngIf="isLoadingPage && hasWork">
  <div class="container">
    <div class="row cus-20">
      <div class="col-md-12">
        <div class="main-nav-breakcrumb">
          <ul>
            <li><a [routerLink]="['/']">Trang chủ</a></li>
            <li>&rsaquo;</li>
            <li><a [routerLink]="['/dang-ky-de-tai']">Tạo đề tài</a></li>
          </ul>

        </div>
        <!-- div.main-nav-breakcrumb -->


        <div class="main-bg-pd">
          <div class="main-list-detai-nghiencuu border no-pd">



            <div class="item">
              <div class="row cus-15">
                <div class="col-sm-9">

                  <div class="des cus">
                    <a href="" class="cat">Đề tài</a>
                    <div class="date">
                      Tháng {{work.created_date | date: 'MM/yyyy'}} - {{ work.author}}
                      <ng-container><b style="background-color: red; color: white" *ngIf="this.isEdit !== undefined">{{ this.thongBaoDeTai }}</b></ng-container>
                      <ng-container><b style="background-color: red; color: white" *ngIf="this.isEdit === undefined">{{ this.thongBaoDeTai }}</b></ng-container>
                    </div>
                    <!-- div.date -->
                  </div>

                  <!-- div.des -->


                  <div class="tt-a to">
                    <a href="">{{ work.name }}</a>
                  </div>
                  <!-- div.tt-a -->

                  <div class="list-avt">
                    <div class="avt" *ngFor="let au of work.cochair">
                      <a [routerLink]="['/profile',au.username,'profile']" *ngIf="au.username !== undefined">
                        <img [(src)]="au.linkAvar" alt="" />
														<span>{{ au.fullname }}</span>
                          </a>

                      <a style="cursor: pointer" *ngIf="au.username === undefined">
														<img src="assets/images/avt-nghiencuu.jpg" alt="Tác giả không có trong hệ thống" />
														<span>{{ au.fullname }}</span>
													</a>
                    </div>
                    <!-- div.avt -->

                    <!-- div.avt -->
                    <div class="avt">
                      [...]
                    </div>
                    <!-- div.avt -->

                  </div>
                  <!-- div.list-avt -->



                  <div class="except">
                    Mục tiêu : {{work.goal_completion}}
                  </div>
                  <!-- div.except -->


                </div>
                <!-- div.col-sm-9 -->

                <div class="col-sm-3">
                  <div class="info">
                    <div class="i">
                      <span>Điểm đề tài</span>
                      <b>{{ work.all_point }}</b>
                    </div>
                    <div class="i">
                      <span>Lượt đọc</span>
                      <b>{{ work.statitics.view_number }}</b>
                    </div>
                    <!-- div.i -->
                  </div>
                  <!-- div.info -->
                </div>
                <!-- div.col-sm-3 col-sm-pull-9 -->
              </div>
              <!-- div.row cus-15 -->
            </div>
            <!-- div.item -->
          </div>

          <!--modal thêm điểm-->
          <div id="addPointMember" class="modal fade" role="dialog">
            <div class="modal-dialog modal-md">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="main-baocao">
                    <div class="trai">
                      <div class="tt">Thêm điểm Thành viên đề tài</div>
                      <!-- div.tt -->
                    </div>
                    <!-- div.trai -->
                    <div class="clear"></div>
                    <!-- div.clear -->
                    <div class="input search search-left">

                      <input type="text" placeholder="Tìm kiếm...." (keyup)="keyupSearchMember($event)">
                      <a class="search"><img src="assets/images/icon-search.png" alt="" style="cursor: pointer"></a>

                    </div>
                    <!-- end input-search -->

                  </div>
                  <!-- div.main-baocao -->

                  <div class="main-list-detai-nghiencuu cus" style="overflow-y: scroll; height: 255px;">

                    <div class="item item-2" *ngFor="let mem of memberSearch">
                      <form class="form-horizontal">
                        <div class="form-group form-group-2" name="aaaaaaa">
                          <label class="col-sm-5 control-label" name="fullname"><b>{{ mem.fullname }} </b></label>
                          <div class="col-sm-7">
                            <input type="number" class="form-control" placeholder="Nhập số điểm" name="point">
                          </div>
                        </div>

                      </form>
                    </div>
                    <!-- div.item -->
                  </div>
                  <!-- div.main-list-detai-nghiencuu -->


                  <div class="main-btn-aqua li-btn-media gpbtn-morepd">
                    <a style="cursor: pointer" class="btn-blue xam" (click)="closePopup('#addPointMember')">HỦY LỆNH</a>
                    <a style="cursor: pointer" class="btn-blue" (click)="addPointPopup('#addPointMember')">CẬP NHẬT</a>
                  </div>
                </div>

              </div>
              <!-- end modal-content -->

            </div>
          </div>
          <!--hết model thêm điểm-->

          <!--model thêm tài liệu-->
          <!-- Modal -->
          <div id="addFile" class="modal fade" role="dialog">
            <div class="modal-dialog ">

              <!-- Modal content-->
              <div class="modal-content">
                <form>
                  <div class="modal-header">
                    <div class="div-loading" *ngIf="(uploadimgLoading)">
                      <img id="loading-image" src="assets/images/loading48.gif" alt="Loading...">
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="main-taifile" style="max-width: 517px">
                      <div class="des1">Lựa chọn file tài liệu bạn muốn tải lên</div>
                      <!-- div.des1 -->
                      <div class="tt-a">Cập nhật tài liệu của đề tài</div>

                      <div class="des2">
                        Ghi chú <br>
                        <textarea cols="40" rows="3" name="comment"></textarea>
                      </div>

                      <!-- div.tt-a -->
                      <div class="des2">Hệ thống chấp nhận file: Word, excel, pdf, png, jpg</div>
                      <!-- div.des2 -->

                      <div class="custom-file-upload">
                        <!--<label for="file">File: </label>-->
                        <input type="file" id="fileUpload" (change)="changeListener($event)" name="file" />
                      </div>
                      <div class="main-btn-aqua">
                        <a style="cursor: pointer" class="btn-blue xam to" (click)="closeAddFile()">HỦY BỎ</a>
                        <a style="cursor: pointer" class="btn-blue to" (click)="uploadFile($event)">LƯU LẠI</a>
                      </div>
                      <!-- end main-btn-aqua -->
                    </div>
                    <!-- div.main-form2 -->
                  </div>
                </form>

              </div>
              <!-- end modal-content -->

            </div>
          </div>
          <!--hết model thêm tài liệu-->

          <div id="addBaibao" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <div class="main-baocao">
                    <div class="trai">
                      <div class="tt">Thêm bài báo cáo vào đề tài của bạn</div>
                      <!-- div.tt -->

                    </div>
                    <!-- div.trai -->
                    <div class="clear"></div>
                    <!-- div.clear -->

                    <div class="des">Chọn bài báo mà bạn muốn thêm</div>
                    <!-- div.des -->

                    <!-- <div class="input search search-left">

                      <input type="text" name="articleCondition" placeholder="Tìm kiếm....">
                      <a style="cursor: pointer" (click)="searchingArrticle()" class="search"><img src="assets/images/icon-search.png" alt=""></a>

                    </div> -->
                    <!-- end input-search -->

                  </div>
                  <!-- div.main-baocao -->

                  <div class="main-list-detai-nghiencuu cus">

                    <div class="item" *ngFor="let ar of articleAdd">

                      <div class="row cus-15">

                        <div class="col-sm-3" style="align-items: center">

                          <div class="img hot">
                            <img src="assets/images/chungnhan.png" alt="" />

                          </div>


                          <!-- div.img -->


                        </div>
                        <!-- div.col-sm-3 col-sm-pull-9 -->

                        <div class="col-sm-9">
                          <div class="tt-a">
                            <a href=""> {{ ar.name }} </a>

                          </div>
                          <!-- div.tt-a -->

                          <div class="des">
                            <a href="" class="cat">Bài báo</a>
                            <div class="date">Tháng {{ ar.created_date | date: 'MM/yyyy' }} - {{ fullname }}</div>
                            <!-- div.date -->
                          </div>
                          <!-- div.des -->

                          <div class="except">
                            {{ ar.summary }}
                          </div>
                          <!-- div.except -->



                        </div>
                        <!-- div.col-sm-9 -->

                      </div>
                      <!-- div.row cus-15 -->

                      <div class="input new-nut">
                        <div class="btn-add" name="divAddOne">
                          <img src="assets/images/icon-add1.png" alt="Thêm bài báo vào đề tài" (click)="addTemArticle(ar, $event)" />
                        </div>
                        <!-- div.btn-add -->
                      </div>
                      <!-- div.input -->
                    </div>
                    <!-- div.item -->


                    <div class="phai-a">
                      <div class="main-nav-page">
                        <app-pagination [offset]="(pageWork-1)*limitWork" [limit]="limitWork" [size]="totalWork" (pageChange)="getWorks($event)"></app-pagination>
                      </div>
                      <!-- div.main-nav-page -->
                    </div>
                    <!-- div.phai-a -->

                  </div>
                  <!-- div.main-list-detai-nghiencuu -->

                  <div class="mr-bt-20"></div>
                  <!-- div.mr-bt-20 -->
                  <div class="main-btn-aqua li-btn-media">
                    <a style="cursor: pointer" class="btn-blue xam to" (click)="close()">HỦY LỆNH</a>
                    <a style="cursor: pointer" class="btn-blue to" (click)="addArticleToWork()">CẬP NHẬT</a>
                  </div>
                </div>

              </div>
              <!-- end modal-content -->

            </div>
          </div>

          <!-- Modal -->
          <div id="operation" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <form novalidate name="operation" #opreation="ngForm">
                    <div class="main-form2" style="max-width: 750px">
                      <div class="tt-t">Hoạt động nghiên cứu đề tài</div>
                      <!-- div.tt-t -->
                      <div class="row">
                        <div class="col-md-7">
                          <div class="item-a">
                            <div class="tt-b">Nội dung hoạt động</div>
                            <!-- div.tt-b -->
                            <div class="input">
                              <textarea name="contentOperation" rows="5" cols="50"> </textarea>
                              <input type="hidden" name="idEditOperation" />
                            </div>
                            <!-- div.input -->
                          </div>
                          <!-- div.item -->

                        </div>
                      </div>
                      <!-- div.row -->
                      <div class="row">
                        <div class="col-md-7">
                          <div class="list-btn">
                            <a href="javascript:;" data-dismiss="modal" class="btn-blue xam">HỦY BỎ</a>
                            <a href="javascript:;" (click)="addOperation($event)" class="btn-blue">LƯU LẠI</a>
                          </div>
                          <!-- div.list-btn -->
                        </div>
                        <!-- div.col-md-7 -->
                        <!--<div class="col-md-5">
                          <span style="color:red" *ngIf="formResearch.invalid && formResearch._submitted"> Vui lòng nhập đầy đủ thông tin</span>
                        </div>-->
                      </div>
                      <!-- div.row -->

                    </div>
                  </form>
                  <!-- div.main-form2 -->
                </div>

              </div>
              <!-- end modal-content -->

            </div>
          </div>
          <!-- end modal -->

          <!-- div.main-list-detai-nghiencuu -->
          <ul class="nav nav-tabs cus" role="tablist">
            <li role="presentation" class="active">
              <a href="#baibao" aria-controls="baibao" role="tab" data-toggle="tab">Hoạt động</a>
            </li>
            <li role="presentation" class="">
              <a href="#diemso" aria-controls="diemso" role="tab" data-toggle="tab">File tài liệu</a>
            </li>
            <li role="presentation" class="">
              <a href="#dsfile" aria-controls="dsfile" role="tab" data-toggle="tab">Chi tiết điểm số</a>
            </li>
            <li role="presentation" class="">
              <a href="#dsBaibao" aria-controls="dsBaibao" role="tab" data-toggle="tab">Danh sách ấn phẩm</a>
            </li>
            <li role="presentation" class="">
              <a href="#hanhchinh" aria-controls="hanhchinh" role="tab" data-toggle="tab">Hành chính</a>
            </li>

          </ul>

          <div class="tab-content">
            <div class="function-3-btn cus" *ngIf="isDisableTab">
              <a class="btn-blue xanh" (click)="showAddBaibaoPopup('#addBaibao')" name="addbaibao" style="cursor: pointer">
                  <img src="assets/images/icon-add2.png" alt="" /> Thêm bài báo		    
              </a>
              <a class="btn-blue xanh" (click)="showAddOperationPopup('#operation')" name="operation" style="cursor: pointer">
									   <img src="assets/images/icon-add2.png" alt="" /> Hoạt động		    
							</a>
              <a class="btn-blue xanh" (click)="showPopup('#addFile')" name="addFile" style="cursor: pointer">
									   <img src="assets/images/icon-add2.png" alt="" /> Tài liệu
									    
									</a>
                  <div class="dropdown" *ngIf="!this.workNewEdit">
                <a class="btn-blue xanh" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									  	Đề tài <span class="caret"></span>
									    
									  </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a style="cursor: pointer" (click)="deleteWork()">Xóa đề tài</a></li>
                  <li><a style="cursor: pointer" (click)="editWork()">Thay đổi đề tài</a></li>
                </ul>
              </div>

              <div class="dropdown" *ngIf="this.workNewEdit">
                <a class="btn-blue xanh" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Đề tài <span class="caret"></span>
                        
                      </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <!-- <li><a style="cursor: pointer" (click)="deleteWork()">Xóa đề tài</a></li> -->
                  <li><a style="cursor: pointer" (click)="editNewWork()">Thay đổi đề tài</a></li>
                </ul>
              </div>
            </div>
            <!-- div.function -->


            <div role="tabpanel" class="tab-pane active" id="baibao">

              <div class="content-tab">
                <div class="main-user-hoatdong" *ngIf="operations?.length == 0" style="align-items: center">
                  <div class="hea"><b>Không có hoạt động nào trong đề tài</b></div>
                </div>

                <div class="main-user-hoatdong" *ngFor="let ope of operations">
                  <div class="hea">
                    <div class="trai">
                      <div class="main-date">
                        <span class="date">Ngày {{ ope.created | date: 'dd/MM/yyyy' }}</span>
                      </div>
                      <!-- div.main-date -->
                    </div>
                    <!-- div.trai -->

                    <div class="phai">

                      <div class="dropdown" *ngIf="isDisableTab">
                        <a class="n_link" type="button" id="d1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
													  Chỉnh sửa
													    <span class="caret"></span>
													  </a>
                        <ul class="dropdown-menu" aria-labelledby="d1">
                          <li><a style="cursor: pointer" (click)="removeOperation(ope._id)">Xóa hoạt động</a></li>
                          <li><a style="cursor: pointer" (click)="editOperation(ope._id)">Thay đổi hoạt động</a></li>
                        </ul>
                      </div>


                    </div>
                    <!-- div.phai -->

                    <div class="clear"></div>
                    <!-- div.clear -->

                  </div>
                  <!-- div.hea -->
                  <div class="media">
                    <div class="media-left">
                      <div class="img">
                        <img [(src)]="linkAva" alt="" />
                      </div>
                      <!-- div.img -->

                    </div>
                    <!-- div.media-left -->

                    <div class="media-body">
                      <div class="tt-a">
                        <a href="">{{ fullname }}</a>
                        <input type="hidden" value="{{ ope._id }}" name="idOperation" />
                      </div>
                      <!-- div.tt -->
                      <div class="more">

                      </div>
                      <!-- div.more -->
                      <div class="des" name="detailOperation" style="text-align: justify"> {{ ope.description }} </div>
                      <!-- div.des -->
                    </div>
                    <!-- div.media-body -->
                  </div>
                  <!-- div.media -->
                </div>
                <!-- div.main-user-hoatdong -->
              </div>
              <!-- end content -->

            </div>
            <!-- end tabpanel -->

            <div role="tabpanel" class="tab-pane" id="dsBaibao">

              <div class="main-table table-responsive">
                <table>
                  <tr>
                    <td>STT</td>
                    <td>Ngày đăng tải</td>
                    <td>Tên tài liệu</td>
                    <td></td>
                  </tr>
                  <tr *ngIf="articleAdded?.length == 0">
                    <br>
                    <td colspan="4" style="align-content: center"><b>Không có tài liệu nào đã thực hiện liên quan đến đề tài</b></td>
                  </tr>
                  <tr *ngFor="let file of articleAdded;index as idx">
                    <td>{{ idx + 1 }}</td>
                    <td>{{ file.created_date | date: 'dd/MM/yyyy hh:MM' }}</td>
                    <td style="text-align: justify">
                      <a [routerLink]="['/chi-tiet-bai-bao', file._id]">{{ file.name }}</a>
                    </td>
                    <td>
                      <a style="cursor: pointer" class="func" (click)="removeArticleFromWork(file._id)" *ngIf="isDisableTab">
														<img src="assets/images/btn-close.png" alt=""/>
													</a>
                    </td>
                  </tr>
                </table>

              </div>
              <!-- div.table -->

            </div>

            <div role="tabpanel" class="tab-pane" id="hanhchinh">

              <div class="main-table table-responsive">
                <table>
                  <tr>
                    <td>STT</td>
                    <td>Ngày đăng tải</td>
                    <td>File</td>
                    <td class="trai-a">Ghi chú</td>
                    <td></td>
                  </tr>
                  <tr *ngIf="administrativeFiles?.length == 0">
                    <br>
                    <td colspan="4" style="align-content: center"><b>Không có tài liệu nào trong đề tài</b></td>
                  </tr>
                  <tr *ngFor="let file of administrativeFiles;index as idx">
                    <td>{{ idx + 1 }}</td>
                    <td>{{ file.created | date: 'dd/MM/yyyy hh:MM' }}</td>
                    <td>
                      <a style="cursor: pointer" class="link" name="file-name" (click)="downloadFileAdmin(file._id)">{{ file.filename }}</a>
                    </td>
                    <td class="trai-a">
                      <div class="nghiencuu"> {{ file.description }} </div>
                      <!-- div.nghiencuu -->
                    </td>
                    <td>
                      <!-- <a style="cursor: pointer" class="func" (click)="removeFile(file._id,idx)" *ngIf="isDisableTab">
														<img src="assets/images/btn-close.png" alt="" />
													</a> -->
                    </td>
                  </tr>
                </table>

              </div>

            </div>


            <div role="tabpanel" class="tab-pane" id="diemso">

              <div class="main-table table-responsive">
                <table>
                  <tr>
                    <td>STT</td>
                    <td>Ngày đăng tải</td>
                    <td>File</td>
                    <td class="trai-a">Ghi chú</td>
                    <td></td>
                  </tr>
                  <tr *ngIf="files?.length == 0">
                    <br>
                    <td colspan="4" style="align-content: center"><b>Không có tài liệu nào trong đề tài</b></td>
                  </tr>
                  <tr *ngFor="let file of files;index as idx">
                    <td>{{ idx + 1 }}</td>
                    <td>{{ file.created | date: 'dd/MM/yyyy hh:MM' }}</td>
                    <td>
                      <a style="cursor: pointer" class="link" name="file-name" (click)="downloadFile(file._id)">{{ file.filename }}</a>
                    </td>
                    <td class="trai-a">
                      <div class="nghiencuu"> {{ file.description }} </div>
                      <!-- div.nghiencuu -->
                    </td>
                    <td>
                      <a style="cursor: pointer" class="func" (click)="removeFile(file._id,idx)" *ngIf="isDisableTab">
														<img src="assets/images/btn-close.png" alt="" />
													</a>
                    </td>
                  </tr>
                </table>

              </div>
              <!-- div.table -->

            </div>
            <!-- end tabpanel -->
            <div role="tabpanel" class="tab-pane" id="dsfile">

              <div class="main-table table-responsive">
                <div class="control-table">

                  <table class="table table-bordered table-custom">


                    <tbody>
                      <tr>
                        <td>Điểm đề tài</td>

                        <td> {{ work.all_point }} </td>
                      </tr>
                      <tr>
                        <td class="table-heading" colspan="2"> Chi tiết thành viên chủ nhiệm</td>

                      </tr>
                      <tr *ngFor="let co of work.cochair">
                        <td>{{ co.fullname }}</td>

                        <td>{{ co.point }}</td>
                      </tr>
                      <tr>
                        <td class="table-heading" colspan="2"> Chi tiết Thành viên đề tài</td>

                      </tr>
                      <tr *ngFor="let co of work.members">
                        <td>{{ co.fullname }}</td>

                        <td>{{ co.point }}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>


              </div>
              <!-- div.table -->
              <a class="n-link bottom-link" (click)="showAddpointPopup('#addPointMember')" name="addPointMember" style="cursor: pointer"
                *ngIf="isDisableTab">
                   Thêm điểm Thành viên đề tài
            </a>

            </div>

            <div style="float: right; cursor: pointer; margin: 10px 0px 10px 0px" *ngIf="this.isEdit && this.userActive"><a class="btn-blue" (click)="requestUpdateWork()">YÊU CẦU DUYỆT ĐỀ TÀI</a></div>
            <div style="float: right; cursor: pointer; margin: 10px 0px 10px 0px" *ngIf="this.isWorkPublic && this.userActive"><a class="btn-blue" (click)="requestOpenWork()">YÊU CẦU CHỈNH SỬA ĐỀ TÀI</a></div>
            <!-- end tabpanel -->
            <br>
          </div>
          <!-- end tab-contente -->


        </div>
        <!-- div.main-bg-pd -->

      </div>
      <!-- div.col-md-10 col-md-offset-1 -->

    </div>
    <!-- div.row cus-20 -->

  </div>
  <!-- div.container -->
</div>
