<!-- div.all-main-thongtin-canhan -->
<div class="all-main-thongtin-canhan">
  <form (ngSubmit)="onSubmit()" #f9="ngForm" (keydown.enter)="$event.preventDefault()">
    <div class="header">
      <div class="trai">
        <div class="tt">Đổi mật khẩu</div>
        <!-- div.tt -->
      </div>
      <!-- div.trai -->

      <div class="phai" *ngIf="isOwner && this.wapUserInfo.userprofile.isActived">
        <button #btsubmit9 type="submit" style="visibility:hidden">TIẾP TỤC </button>
        <a id="idDoiMatKhau" class="btn-blue edit" href="javascript:;" (click)="btsubmit9.click()">
							<img src="assets/images/icon-edit.png" alt="" />
							<span>CHỈNH SỬA</span>
						</a>
      </div>
      <!-- div.phai -->
      <div class="clear"></div>
      <!-- div.clear -->
    </div>
    <div class="content-thongtin">
      <div class="row cus-20">
        <div class="col-md-20">
          <!-- div.header -->
          <div class="item">
            <div class="trai">
              <div class="tt-s">Mật khẩu hiện tại</div>
              <!-- div.tt -->
            </div>
            <!-- div.trai -->
            <div class="phai">
              <div class="input have_tool">
                <input disabled="disabled" type="password" [(ngModel)]="this.password.oldPassword" name="oldPassword">
                
              </div>
              <!-- div.input -->

            </div>
            <div class="clear"></div>
            <!-- div.phai -->
          </div>

          <div class="item">
            <div class="trai">
              <div class="tt-s">Nhập mật khẩu mới</div>
              <!-- div.tt -->
            </div>
            <!-- div.trai -->
            <div class="phai">
              <div class="input have_tool">
                <input disabled="disabled" type="password" [(ngModel)]="this.password.newPassword" name="newPassword">
                
                
              </div>
              <!-- div.input -->

            </div>
            <div class="clear"></div>
            <!-- div.phai -->
          </div>

          <!-- div.item -->
          <div class="item">
            <div class="trai">
              <div class="tt-s">Nhập lại mật khẩu</div>
              <!-- div.tt -->
            </div>
            <!-- div.trai -->
            <div class="phai">
              <div class="input have_tool">
                <input disabled="disabled" type="password" [(ngModel)]="this.password.reNewPassword" name="reNewPassword">
              </div>
              <!-- div.input -->

            </div>
            <span class="help-block" style="color: red" *ngIf="isNotValid" >{{ this.message }}</span>
            <div class="clear">
            </div>
            
            <!-- div.phai -->
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- div.all-main-thongtin-canhan -->