<div class="bao-all-main-content" style="padding-top: 0">
  <div class="main-all-thongtin-tiensi">
    <div class="container">
      <div class="row cus-20">
        <div class="col-md-10 col-md-offset-1">
          <div class="row cus-20">
            <div class="col-md-8">
              <div class="main-info-tiensi">
                <div class="row cus-20">
                  <div class="col-sm-4">
                    <div class="img">
                      <div class="inner">
                        <img src="assets/images/img-tiensi.jpg" alt="" />

                      </div>
                      <!-- div.inner -->
                    </div>
                    <!-- div.img -->
                  </div>
                  <!-- div.col-sm-5 -->
                  <div class="col-sm-8">
                    <div class="nd">
                      <div class="tt-a robo" style="margin-bottom: 10px">Đại học Y Hà Nội</div>
                      <!-- div.tt-a -->

                      <div class="b robo">Địa chỉ</div>
                      <!-- div.b -->
                      <div class="list cus robo">
                        <ul>
                          <li>
                            23 Lạc Trung - Thanh Xuân - Hà nội
                          </li>
                        </ul>
                      </div>
                      <!-- div.list -->

                      <div class="b robo">
                        Số điện thoại:
                      </div>
                      <!-- div.b -->
                      <div class="list cus robo">
                        <ul>
                          <li>
                            091.57.91190
                          </li>
                        </ul>
                      </div>
                      <!-- div.list -->
                      <div class="b robo">
                        Website:
                      </div>
                      <!-- div.b -->
                      <div class="list">
                        <ul>
                          <li>
                            <a href="">https://www.yhochanoi.com.vn</a>
                          </li>
                        </ul>
                      </div>
                      <!-- div.list -->



                    </div>
                    <!-- div.nd -->


                  </div>
                  <!-- div.col-sm-7 -->

                </div>
                <!-- div.row cus-20 -->




              </div>
              <!-- div.main-info-tiensi -->




            </div>
            <!-- div.col-md-7 -->

            <div class="col-md-4">

            </div>
            <!-- div.col-md-5 -->
          </div>
          <!-- div.row cus-20 -->


        </div>
        <!-- div.col-md-10 col-md-offset-1 -->


      </div>
      <!-- div.row -->


    </div>
    <!-- div.container -->
  </div>
  <!-- div.main-all-thongtin-tiensi -->


  <div class="container">
    <div class="row cus-20">
      <div class="col-md-10 col-md-offset-1">
        <div class="list-tab-home">



          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tổng quát</a>
            </li>
            <li role="presentation" class="">
              <a href="#thanhvien" aria-controls="thanhvien" role="tab" data-toggle="tab">Thành viên</a>
            </li>
            <li role="presentation" class="">
              <a href="#report" aria-controls="report" role="tab" data-toggle="tab">Báo cáo hoạt động</a>
            </li>

          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">

              <div class="content-tab">
                <div class="row cus-20">
                  <div class="col-md-6">
                    <div class="thongtin-baigiang">
                      <div class="content">
                        <div class="row cus-4">
                          <div class="col-xs-4">
                            <div class="tt">1.995.555</div>
                            <!-- div.tt -->
                            <div class="des">Tổng số giờ giảng</div>
                            <!-- div.des -->

                          </div>
                          <!-- div.col-xs-4 -->
                          <div class="col-xs-4">
                            <div class="tt"></div>
                            <!-- div.tt -->
                            <div class="des">Từ</div>
                            <!-- div.des -->

                          </div>
                          <!-- div.col-xs-4 -->
                          <div class="col-xs-4">
                            <div class="tt">2.000</div>
                            <!-- div.tt -->
                            <div class="des">Thành viên</div>
                            <!-- div.des -->

                          </div>
                          <!-- div.col-xs-4 -->

                        </div>
                        <!-- div.row cus-4 -->


                      </div>
                      <!-- div.content -->
                      <div class="content">
                        <div class="row cus-4">
                          <div class="col-xs-4">
                            <div class="tt">1.000</div>
                            <!-- div.tt -->
                            <div class="des">Đề tài</div>
                            <!-- div.des -->

                          </div>
                          <!-- div.col-xs-4 -->
                          <div class="col-xs-4">
                            <div class="tt">1.000</div>
                            <!-- div.tt -->
                            <div class="des">Bài báo</div>
                            <!-- div.des -->

                          </div>
                          <!-- div.col-xs-4 -->
                          <div class="col-xs-4">
                            <div class="tt">1.000</div>
                            <!-- div.tt -->
                            <div class="des">File tài liệu</div>
                            <!-- div.des -->

                          </div>
                          <!-- div.col-xs-4 -->

                        </div>
                        <!-- div.row cus-4 -->


                      </div>
                      <!-- div.content -->



                    </div>
                    <!-- div.thongtin-baigiang -->

                    <div class="sodo-tochuc">
                      <div class="tt-a">Sơ đồ tổ chức</div>
                      <!-- div.tt-a -->
                      <div class="item">
                        <div class="tt">
                          <a href="">Khoa kinh tế y tế</a>
                        </div>
                        <!-- div.tt -->
                        <div class="des">100 thành viên</div>
                        <!-- div.des -->
                      </div>
                      <!-- div.item -->
                      <div class="item">
                        <div class="tt">
                          <a href="">Khoa kinh tế y tế</a>
                        </div>
                        <!-- div.tt -->
                        <div class="des">100 thành viên</div>
                        <!-- div.des -->
                      </div>
                      <!-- div.item -->
                      <div class="item">
                        <div class="tt">
                          <a href="">Khoa kinh tế y tế</a>
                        </div>
                        <!-- div.tt -->
                        <div class="des">100 thành viên</div>
                        <!-- div.des -->
                      </div>
                      <!-- div.item -->


                    </div>
                    <!-- div.sodo-tochuc -->




                  </div>
                  <!-- div.col-md-6 -->


                  <div class="col-md-6">
                    <div class="main-list-thanhvien">
                      <div class="head">
                        <div class="trai">
                          <div class="tt-a">Thành viên</div>
                          <!-- div.tt-a -->
                        </div>
                        <!-- div.trai -->
                        <div class="phai">
                          <a href="" class="link">Xem tất cả</a>
                        </div>
                        <!-- div.phai -->
                        <div class="clear"></div>
                        <!-- div.clear -->
                      </div>
                      <!-- div.head -->

                      <div class="content">
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
																<img src="assets/images/img-bs.jpg" alt="" />
															</a>
                        </div>
                        <!-- div.item -->


                      </div>
                      <!-- div.content -->


                    </div>
                    <!-- div.main-list-thanhvien -->



                  </div>
                  <!-- div.col-md-6 -->



                </div>
                <!-- div.row -->

              </div>
              <!-- div.content-tab -->


            </div>
            <!-- end tabpanel -->
            <div role="tabpanel" class="tab-pane" id="thanhvien">

              <div class="content-tab">
                <div class="row cus-20">

                  <div class="col-md-12">

                    <div class="main-list-detai-nghiencuu custom">

                      <div class="header">
                        <div class="trai">
                          <div class="input search search-left">

                            <input type="text" placeholder="Tìm kiếm....">
                            <a href="" class="search"><img src="assets/images/icon-search.png" alt=""></a>

                          </div>
                          <!-- end search -->
                        </div>
                        <!-- div.trai -->


                        <div class="phai">
                          <div class="main-sapxep">
                            <div class="tt">Sắp xếp theo</div>
                            <!-- div.tt -->
                            <select name="" id="">
																<option value="">Mới nhất</option>
																<option value="">Mới nhất</option>
																<option value="">Mới nhất</option>
															</select>
                          </div>
                          <!-- div.main-sapxep -->
                        </div>
                        <!-- div.phai -->

                        <div class="clear"></div>
                        <!-- div.clear -->



                      </div>
                      <!-- div.header -->


                    </div>
                    <!-- div.main-list-detai-nghiencuu -->


                    <div class="main-list-thanhvien">
                      <div class="head">
                        <div class="trai">
                          <div class="tt-a">2000 thành viên</div>
                          <!-- div.tt-a -->
                        </div>
                        <!-- div.trai -->
                        <div class="phai">
                          <a href="" class="link">Xem tất cả</a>
                        </div>
                        <!-- div.phai -->
                        <div class="clear"></div>
                        <!-- div.clear -->
                      </div>
                      <!-- div.head -->

                      <div class="content">
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->
                        <div class="item">
                          <a href="">
															<img src="assets/images/img-bs.jpg" alt="" />
														</a>
                        </div>
                        <!-- div.item -->


                      </div>
                      <!-- div.content -->


                    </div>
                    <!-- div.main-list-thanhvien -->



                  </div>
                  <!-- div.col-md-6 -->



                </div>
                <!-- div.row -->

              </div>
              <!-- div.content-tab -->


            </div>
            <!-- end tabpanel -->



          </div>
          <!-- div.tab-content -->



        </div>
        <!-- div.list-tab-home -->



      </div>
      <!-- div.col-md-10 col-md-offset-1 -->

    </div>
    <!-- div.row cus-20 -->

  </div>
  <!-- div.container -->

</div>
<!-- div.bao-all-main-content -->