<div class="bao-all-main-content" style="padding-top: 0" *ngIf="isLoadingPage">
  <div class="main-all-thongtin-tiensi">
    <app-avatar *ngIf="isLoadingPage" [wapUserInfo]=wapUserInfo [isOwner]=isDisableTab></app-avatar>
  </div>

  <div class="container">
    <div class="row cus-20">
      <div class="col-md-10 col-md-offset-1">
        <div class="main-list-home1">
          <!-- <div class="tt-a">
								BMJ Journals <br />
								High-quanlity content for reseachers, clinicians and health care professionals

							</div> -->


          <div class="list">
            <br><br><br><br>
            <div class="row cus-2">
              <div class="col-md-4 col-sm-6">
                <a (click)="alertFunction(1)">
                  <div class="item">
                    <div class="img">
                      <img src="assets/images/icon-list2.png" alt="" />
                    </div>
                    <!-- div.img -->
                    <div class="sp">
                      Hồ sơ <br />cá nhân
                    </div>
                    <!-- div.sp -->


                  </div>
                  <!-- div.item -->
                </a>


              </div>
              <!-- div.col-md-4 col-sm-6 -->
              <div class="col-md-4 col-sm-6">
                <a (click)="alertFunction(2)">
                  <div class="item cus">
                    <div class="img">
                      <img src="assets/images/icon-list5.png" alt="" />
                    </div>
                    <!-- div.img -->
                    <div class="sp">
                      Danh sách <br />đề tài
                    </div>
                    <!-- div.sp -->


                  </div>
                  <!-- div.item -->
                </a>


              </div>
              <!-- div.col-md-4 col-sm-6 -->
              <div class="col-md-4 col-sm-6">
                <a (click)="alertFunction(6)">
                  <div class="item">
                    <div class="img">
                      <img src="assets/images/icon-list6.png" alt="" />
                    </div>
                    <!-- div.img -->
                    <div class="sp">
                      Báo cáo <br />cá nhân
                    </div>
                    <!-- div.sp -->


                  </div>
                  <!-- div.item -->
                </a>


              </div>
              <!-- div.col-md-4 col-sm-6 -->
              <!-- <div class="col-md-4 col-sm-6">
                <a (click)="alertFunction(4)">
                  <div class="item cus">
                    <div class="img">
                      <img src="assets/images/icon-list3.png" alt="" />
                    </div>
                    <div class="sp">
                      E-learning
                    </div>
                  </div>
                </a>


              </div>
              <div class="col-md-4 col-sm-6">
                <a (click)="alertFunction(5)">
                  <div class="item">
                    <div class="img">
                      <img src="assets/images/icon-list1.png" alt="" />
                    </div>
                    <div class="sp">
                      Quản lý <br />Nghiên cứu sinh
                    </div>


                  </div>
                </a>


              </div>
              <div class="col-md-4 col-sm-6">
                <a (click)="alertFunction(6)">
                  <div class="item cus">
                    <div class="img">
                      <img src="assets/images/icon-list5.png" alt="" />
                    </div>
                    <div class="sp">
                      Báo cáo <br />cá nhân
                    </div>


                  </div>
                </a>


              </div> -->

            </div>
            <!-- div.row cus2 -->

          </div>
          <!-- div.list -->


        </div>
        <!-- div.main-list-home1 -->


      </div>
      <!-- div.col-md-10 col-md-offset-1 -->

    </div>
    <!-- div.row cus-20 -->

  </div>
  <!-- div.container -->



</div>
<!-- div.main-all-thongtin-tiensi -->
