<div class="bao-all-main-content">
			<div class="main-index">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="trai">
								<div class="tt-a">Cổng thông tin Khoa học Công nghệ</div><!-- div.tt-a -->
								<div class="tt-b"><span>Trường Đại học Y Hà Nội</span></div><!-- div.tt-b -->

								<div class="des">
									Cập nhật các thông tin về hoạt động Khoa học Công nghệ trường Đại học Y Hà Nội
								</div><!-- div.des -->
								<img src="assets/images/img-index1.png" alt="" class="img" />

							</div><!-- div.trai -->


						</div><!-- div.col-md-8 -->


						<div class="col-md-4 col-md-offset-1">
							<div class="phai">
								<div class="tt-a">Đăng ký</div><!-- div.tt-a -->
								<div class="des">Tham gia cộng đồng khoa học việt</div><!-- div.des -->

								
								<div class="main-slider-reg">
									<div class="wrap-item">
										<div class="item">
											<a routerLink="dang-ky">
												<div class="img">
													<img src="assets/images/img-tab-index1.png" alt="" class="img" />
												</div><!-- div.img -->
												<div class="content">
													<div class="tt">Bạn trong ngành y</div><!-- div.tt -->

												</div><!-- div.content -->
											</a>
										</div><!-- div.item -->
										<div class="item">
											<a routerLink="dang-ky-nhanh">
												<div class="img">
													<img src="assets/images/img-tab-index2.png" alt="" class="img" />
												</div><!-- div.img -->
												<div class="content">
													<div class="tt">Bạn trong ngành khác</div><!-- div.tt -->
												</div><!-- div.content -->
											</a>
										</div><!-- div.item -->


									</div><!-- div.wrap-item -->
									
									<div class="controls">
										<img src="assets/images/control-index-slider.png" alt="" />

									</div><!-- div.controls -->

								</div><!-- div.main-slider-reg -->
								<div class="new-des">
									Bằng cách nhấp vào tạo tài khoản, bạn đồng ý với <br /> Điều khoản của chúng tôi và rằng bạn đã đọc <a href="">Chính sách dữ liệu</a> của chúng tôi 
								</div><!-- div.new-des -->
							</div><!-- div.phai -->



						</div><!-- div.col-md-4 -->



					</div><!-- div.row -->
				</div><!-- div.container -->


			</div><!-- div.main-index -->

		</div><!-- div.bao-all-main-content -->