<div class="bao-all-main-content color">


  <div class="container">
    <div class="row cus-20">
      <div class="col-md-10 col-md-offset-1">
        <div class="main-nav-breakcrumb">
          <ul>
            <li><a [routerLink]= "['/']">Trang chủ</a></li>
            <li>&rsaquo;</li>
            <li><a>Thông tin giới thiệu</a></li>
          </ul>

        </div>
        <!-- div.main-nav-breakcrumb -->


        <ul class="nav nav-tabs cus color" role="tablist">
          <li role="presentation" [class.active]="(tabStr==='gioithieu')">
            <a href="#gioithieu" aria-controls="gioithieu" role="tab" data-toggle="tab">Giới thiệu</a>
          </li>
          <li role="presentation" [class.active]="(tabStr==='dieukhoan')">
            <a href="#dieukhoan" aria-controls="dieukhoan" role="tab" data-toggle="tab">Điều khoản</a>
          </li>
          <li role="presentation" [class.active]="(tabStr==='trogiup')">
            <a href="#trogiup" aria-controls="trogiup" role="tab" data-toggle="tab">Trợ giúp</a>
          </li>
          <li role="presentation" [class.active]="(tabStr==='lienhe')">
            <a href="#lienhe" aria-controls="lienhe" role="tab" data-toggle="tab">Liên hệ</a>
          </li>


        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" [class.active]="(tabStr==='gioithieu')" id="gioithieu">

            <div class="content-tab">

              <div class="main-gioithieu">
                <div class="bv">
                  <p>
                    <b>
														Thực hiện yêu cầu triển khai tin học hóa quá trình quản lý công tác khoa học công nghệ và giáo dục, cũng như tăng cường sự kết nối giữa các giảng viên, nghiên cứu viên và học viên, sinh viên của trường Đại học Y Hà Nội, thúc đẩy sự minh bạch và thuận tiện trong quản lý Khoa học Công nghệ và Đào tạo, phòng Quản lý Khoa học và Công nghệ, trường Đại học Y Hà Nội đã kết hợp Công ty VTC Công nghệ và Nội dung số (VTC Intecom) xây dựng hệ thống Cổng Quản lý Khoa học và Đào tạo. Cổng Quản lý Khoa học và Đào tạo, trường Đại học Y Hà Nội được vận hành với tên miền: ………… 
													</b>
                  </p>
                  <p>
                    Cơ quan quản lý và vận hành Cổng Quản lý Khoa học và Đào tạo: Phòng Quản lý Khoa học và Công nghệ, trường Đại học Y Hà Nội,
                    số 1 Tôn Thất Tùng, Đống Đa, Hà Nội.

                  </p>

                </div>
                <!-- div.bv -->

                <div class="list-tin">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="item">
                            <img src="assets/images/new-listtin1.jpg" alt="" class="img" />
                            <div class="t">
                              Quản lý cung cấp các ứng dụng và tiện ích trong việc quản lý hoạt động khoa học và giảng dạy của cá nhân
                            </div>
                            <!-- div.t -->
                          </div>
                          <!-- div.item -->

                        </div>
                        <!-- div.col-sm-6 -->
                        <div class="col-sm-6">
                          <div class="item">
                            <img src="assets/images/new-listtin2.jpg" alt="" class="img" />
                            <div class="t">
                              Lưu trữ tài liệu và đánh giá kết quả hoạt động khoa học của từng cán bộ và sinh viên, phục vụ cho công tác quản lý và giám
                              sát.
                            </div>
                            <!-- div.t -->
                          </div>
                          <!-- div.item -->

                        </div>
                        <!-- div.col-sm-6 -->
                        <div class="col-sm-6">
                          <div class="item">
                            <img src="assets/images/new-listtin3.jpg" alt="" class="img" />
                            <div class="t">
                              Cung cấp cơ sở dữ liệu khoa học và công nghệ, thông tin về các tài liệu, ấn phẩm khoa học, các kết quả nghiên cứu, các văn
                              bản quy phạm pháp luật về hoạt động Khoa học và công nghệ đến các chủ thể sử dụng
                            </div>
                            <!-- div.t -->
                          </div>
                          <!-- div.item -->

                        </div>
                        <!-- div.col-sm-6 -->
                        <div class="col-sm-6">
                          <div class="item">
                            <img src="assets/images/new-listtin4.jpg" alt="" class="img" />
                            <div class="t">
                              Trợ giúp công tác quản lý hoạt động KH&CN cũng như tham gia các hoạt động KH&CN có thể dễ dàng phổ biến, truy cập, khai thác
                              thông tin về hoạt động KH&CN
                            </div>
                            <!-- div.t -->
                          </div>
                          <!-- div.item -->

                        </div>
                        <!-- div.col-sm-6 -->

                      </div>
                      <!-- div.row -->


                    </div>
                    <!-- div.col-md-10 col-md-offset-1 -->

                  </div>
                  <!-- div.row -->

                </div>
                <!-- div.list-tin -->
                <div class="bv">
                  <p>
                    Phòng Quản lý Khoa học và Công nghệ, trường Đại học Y Hà Nội – đơn vị quản lý và khai thác Cổng Quản lý Khoa học và Đào tạo
                    rất mong nhận được sự cộng tác, chia sẻ và góp ý từ các đơn vị và cá nhân trong và ngoài trường Đại học
                    Y Hà Nội với mục tiêu nâng cao chất lượng hoạt động khoa học và công nghệ ngành Y Dược.

                  </p>
                </div>
                <!-- div.bv -->

                <div class="list-func">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="item">
                        <div class="media">
                          <div class="media-left">
                            <img src="assets/images/list-icon1.png" alt="" class="media-object" />
                          </div>
                          <!-- div.media-left -->
                          <div class="media-body">
                            <b>Chia sẻ</b> đề tài bài báo của bạn cùng hàng trăm nghìn tác giả khác
                          </div>
                          <!-- div.media-body -->
                        </div>
                        <!-- div.media -->
                      </div>
                      <!-- div.item -->
                    </div>
                    <!-- div.col-sm-6 -->
                    <div class="col-sm-6">
                      <div class="item">
                        <div class="media">
                          <div class="media-left">
                            <img src="assets/images/list-icon2.png" alt="" class="media-object" />
                          </div>
                          <!-- div.media-left -->
                          <div class="media-body">
                            <b>Nhận số liệu</b> thống kê từ những người quan tâm đến lĩnh vực của bạn
                          </div>
                          <!-- div.media-body -->
                        </div>
                        <!-- div.media -->
                      </div>
                      <!-- div.item -->
                    </div>
                    <!-- div.col-sm-6 -->
                    <div class="col-sm-6">
                      <div class="item">
                        <div class="media">
                          <div class="media-left">
                            <img src="assets/images/list-icon3.png" alt="" class="media-object" />
                          </div>
                          <!-- div.media-left -->
                          <div class="media-body">
                            <b>Kết nối</b> và cộng tác với các chuyên gia trong lĩnh vực bạn nghiên cứu
                          </div>
                          <!-- div.media-body -->
                        </div>
                        <!-- div.media -->
                      </div>
                      <!-- div.item -->
                    </div>
                    <!-- div.col-sm-6 -->
                    <div class="col-sm-6">
                      <div class="item">
                        <div class="media">
                          <div class="media-left">
                            <img src="assets/images/list-icon4.png" alt="" class="media-object" />
                          </div>
                          <!-- div.media-left -->
                          <div class="media-body">
                            <b>Đặt câu hỏi</b>, tìm câu trả lời, và tìm giải pháp cho các vấn đề bạn nghiên cứu.
                          </div>
                          <!-- div.media-body -->
                        </div>
                        <!-- div.media -->
                      </div>
                      <!-- div.item -->
                    </div>
                    <!-- div.col-sm-6 -->


                  </div>
                  <!-- div.row -->
                </div>
                <!-- div.list-func -->


              </div>
              <!-- div.main-gioithieu -->
            </div>
            <!-- end content -->

          </div>
          <!-- end tabpanel -->
          <div role="tabpanel" class="tab-pane" [class.active]="(tabStr==='dieukhoan')" id="dieukhoan">

            <div class="content-tab">

              <div class="main-gioithieu">
                <div class="bv">
                  <p>
                    Xin chào mừng bạn đến với Cổng Quản lý Khoa học và Đào tạo, trường Đại học Y Hà Nội. Để sử dụng, vui lòng đọc kỹ và chấp
                    thuận các Điều khoản quy định của Cổng Quản lý Khoa học và Đào tạo, trường Đại học Y Hà Nội <br
                    /> Nếu có bất kỳ câu hỏi nào về việc sử dụng Cổng thông tin điện tử Bộ Thông tin và Truyền thông xin
                    gửi về địa chỉ email <a href="">nckh@hmu.edu.vn</a>, tất cả các câu hỏi sẽ được giải đáp.
                  </p>
                  <p>
                    <b>1. Giới hạn trách nhiệm</b> <br /> Cổng Quản lý Khoa học và Đào tạo, trường Đại học Y Hà Nội cung
                    cấp nền tảng quản lý các thông tin về hoạt động khoa học và giáo dục của cá nhân giảng viên – nghiên
                    cứu viên trong trường. Cổng thông tin cũng là nơi giúp kết nối các nhà khoa học và chia sẻ tài liệu phục
                    vụ mục đích nghiên cứu khoa học và đào tạo. <br /><br /> Cổng Quản lý Khoa học và Đào tạo, trường Đại
                    học Y Hà Nội cung cấp địa chỉ của nhiều tổ chức hay liên kết tới nhiều trang/cổng thông tin điện tử (website)
                    khác. Trường Đại học Y Hà Nội không chịu trách nhiệm về nội dung thông tin và mọi hậu quả có thể xảy
                    ra liên quan tới việc sử dụng các địa chỉ, liên kết này.
                  </p>
                  <p>

                    <b>2. Quyền thay đổi nội dung điều khoản</b> <br /> Ban điều hành Cổng quản lý có thể thay đổi, thay
                    thế, sửa đổi, thêm vào hoặc bỏ bớt đi một phần nào đó của các Điều khoản tùy thời điểm mà không có nghĩa
                    vụ phải báo trước cho người sử dụng. Điều khoản có hiệu lực sẽ được đăng tải trên Cổng Quản lý Khoa học
                    và Đào tạo, trường Đại học Y Hà Nội. Vì vậy, mỗi khi sử dụng Cổng Quản lý Khoa học và Đào tạo, bạn cần
                    phải xem lại nội dung của Điều khoản để đảm bảo có được những thông tin đầy đủ nhất. <br /><br /> Ngoài
                    ra, khi sử dụng các dịch vụ cụ thể trên Cổng, bạn sẽ phụ thuộc vào các điều khoản bổ sung và bất kỳ hướng
                    dẫn hay quy tắc nào áp dụng cho các dịch vụ đó.
                  </p>
                  <p>
                    <b>3. Bản quyền</b> <br /> Người sử dụng có thể tải về, lưu trữ hoặc in các thông tin, tài liệu từ Cổng
                    TTĐT Bộ TT&TT với điều kiện không được sửa đổi thông tin, tài liệu và tuân thủ các quy định của pháp
                    luật về quyền tác giả, quyền sở hữu trí tuệ và các quyền liên quan. Khi sử dụng các thông tin, tài liệu
                    của Cổng TTĐT Bộ TT&TT, người sử dụng phải ghi rõ nguồn “Cổng Thông tin điện tử Bộ Thông tin và Truyền
                    thông" hoặc nguồn "MIC" và tên miền chính thức của Cổng TTĐT Bộ TT&TT: http://mic.gov.vn
                  </p>
                  <p>
                    <b>4. Bảo vệ thông tin cá nhân</b><br /> Cá nhân, tổ chức truy cập vào Cổng Quản lý Khoa học và Đào tạo,
                    trường Đại học Y Hà Nội đồng ý cho chúng tôi sử dụng thông tin thu thập được (địa chỉ IP, URL, số trang
                    (pages visited)) khi cá nhân, tổ chức tự nguyện điền vào vào các biểu mẫu hoặc thực hiện các thao tác
                    truy cập trên Cổng Quản lý Khoa học và Đào tạo. Các thông tin thu thập chỉ được sử dụng cho hai mục đích:
                    <br /><br /> + Thống kê số lượng khách truy cập tới các chuyên mục khác nhau để nâng cao chất lượng của
                    Cổng Quản lý Khoa học và Đào tạo, trường Đại học Y Hà Nội; <br /><br /> + Đáp ứng nhu cầu cụ thể của
                    từng cá nhân như công tác lưu trữ dữ liệu, Trao đổi, Hỏi đáp, nhận Bản tin hay ý kiến phản hồi… Các biện
                    pháp cần thiết sẽ được áp dụng để bảo vệ thông tin cá nhân thu thập được và thông tin cá nhân sẽ không
                    được cung cấp cho bất cứ bên thứ ba nào.<br /><br /> Trong khi truy cập vào Cổng Quản lý Khoa học và
                    Đào tạo, trường Đại học Y Hà Nội, nếu người truy cập nhận thấy những dấu hiệu không bình thường thì nên
                    ngừng truy cập ngay lập tức để tránh những thiệt hại có thể xảy ra cho người truy cập. Nếu người truy
                    cập vẫn tiếp tục truy cập thì chúng tôi không chịu trách nhiệm về những thiệt hại xảy ra cho người truy
                    cập. Tuy nhiên, chúng tôi sẽ kiểm tra và khắc phục các dấu hiệu không bình thường trong thời gian nhanh
                    nhất ngay sau khi biết hoặc được thông báo.

                  </p>
                  <p>
                    <b>5. Hạn chế sử dụng</b><br /> Cổng Quản lý Khoa học và Đào tạo, trường Đại học Y Hà Nội không chấp
                    nhận bất kỳ việc sử dụng thông tin và tài nguyên trên Cổng vào một trong những việc sau: <br /> 5.1.
                    Chống phá nhà nước Cộng hòa Xã hội Chủ nghĩa Việt Nam. <br /> 5.2. Xâm phạm quyền tự do cá nhân của người
                    khác; làm nhục, phỉ báng, bôi nhọ người khác; gây phương hại hay gây bất lợi cho người khác. <br /> 5.3.
                    Gây rối trật tự công cộng; phạm pháp hình sự. <br /> 5.4. Truyền bá và phân phối thông tin cá nhân của
                    bên thứ ba mà không được sự chấp thuận của họ. <br /> 5.5. Sử dụng vào mục đích kinh doanh mà không có
                    sự chấp thuận trước bằng văn bản của Ban Biên tập Cổng <br /> 5.6. Sử dụng bất kỳ thiết bị, phần mềm
                    và/hoặc tiến trình nào nhằm xâm phạm hoặc cố ý xâm phạm đến hoạt động của Cổng <br /> 5.7. Bất kỳ hành
                    động bất hợp pháp bị pháp luật cấm. <br /> 5.8. Hành động xâm phạm đến quyền và lợi ích hợp pháp của
                    Cổng Quản lý Khoa học và Đào tạo, trường Đại học Y Hà Nội.

                  </p>


                </div>
                <!-- div.bv -->


              </div>
              <!-- div.main-gioithieu -->
            </div>
            <!-- end content -->

          </div>
          <!-- end tabpanel -->
          <div role="tabpanel" class="tab-pane" [class.active]="(tabStr==='trogiup')" id="trogiup">

            <div class="content-tab">
              <div class="main-toggle">
                <div class="item">
                  <div class="head">
                    <div class="text">1. Những đối tượng nào sử dụng Cổng Quản Lý này?</div>
                    <!-- div.text -->
                    <div class="nut"><img src="assets/images/iconCollapse.png" alt="" /></div>
                    <!-- div.nut -->
                  </div>
                  <!-- div.head -->
                  <div class="content">
                    Tất cả các đối tượng, bao gồm giảng viên, nghiên cứu viên, chuyên viên, học viên, sinh viên và những đối tượng có nhu cầu
                    quản lý hồ sơ hoạt động khoa học và giảng dạy. Những người sử dụng Cổng Quản lý có thể lựa chọn hai phương
                    án: <br /> - Lựa chọn tạo tài khoản dưới một cơ sở đào tạo/ bệnh viện/ cơ quan nào
                    đó đã được đăng kí trước với Ban Điều hành của Cổng Quản lý <br /> - Lựa chọn tạo tài khoản là những
                    cá nhân tự do không thuộc cơ sở nào. Mỗi đối tượng sẽ có những phương án tạo tài khoản và quản lý hồ
                    sơ khác nhau tùy thuộc vào nhu cầu của từng cơ sở.

                  </div>
                  <!-- div.content -->

                </div>
                <!-- div.item -->
                <div class="item">
                  <div class="head">
                    <div class="text">2. Tôi muốn tạo tài khoản ở Cổng thông tin, tôi phải làm theo những bước nào?</div>
                    <!-- div.text -->
                    <div class="nut"><img src="assets/images/iconCollapse.png" alt="" /></div>
                    <!-- div.nut -->
                  </div>
                  <!-- div.head -->
                  <div class="content">
                    Đăng kí tài khoản cần thực hiện theo những bước sau: <br /> Bước 1: Lựa chọn đối tượng muốn đăng kí:
                    Đối tượng thuộc cơ sở / Đối tượng cá nhân Bước 2: Điền các thông tin theo yêu cầu <br /> Bước 3: Điền
                    email và mật khẩu mong muốn. Đây là cơ sở để giúp anh/chị có thể đăng nhập vào hệ thống.

                  </div>
                  <!-- div.content -->

                </div>
                <!-- div.item -->

                <div class="item">
                  <div class="head">
                    <div class="text">3. Phải làm gì khi quên mật khẩu?</div>
                    <!-- div.text -->
                    <div class="nut"><img src="assets/images/iconCollapse.png" alt="" /></div>
                    <!-- div.nut -->
                  </div>
                  <!-- div.head -->
                  <div class="content">
                    Anh chị có thể vào đường dẫn sau: ………., điền email vào ô trống. Hệ thống sẽ tự động chuyển mật khẩu tạm thời và đường dẫn
                    tới nơi thay mật khẩu.
                  </div>
                  <!-- div.content -->

                </div>
                <!-- div.item -->
                <div class="item">
                  <div class="head">
                    <div class="text">4. Tôi muốn được nhận hỗ trợ thì tôi phải liên hệ với ai?</div>
                    <!-- div.text -->
                    <div class="nut"><img src="assets/images/iconCollapse.png" alt="" /></div>
                    <!-- div.nut -->
                  </div>
                  <!-- div.head -->
                  <div class="content">
                    Khi cần nhận hỗ trợ, mọi chi tiết xin liên hệ: <br /> Phòng Quản lý Khoa học và Công nghệ, trường Đại
                    học Y Hà Nội <br /> Địa chỉ: Nhà A1 – Đại học Y Hà Nội <br /> Điện thoại: 84.4.38523798 (120) <br />                    Email: <a href="">nckh@hmu.edu.vn</a>

                  </div>
                  <!-- div.content -->

                </div>
                <!-- div.item -->
                <div class="item">
                  <div class="head">
                    <div class="text">5. Chi phí cho đăng kí, thông báo và quản lý tài khoản là bao nhiêu?</div>
                    <!-- div.text -->
                    <div class="nut"><img src="assets/images/iconCollapse.png" alt="" /></div>
                    <!-- div.nut -->
                  </div>
                  <!-- div.head -->
                  <div class="content">
                    Người sử dụng dịch vụ hiện tại chưa phải trả chi phí cho việc đăng kí, thông báo và quản lý tài khoản. Trong tương lai, nếu
                    có sự thay đổi nào về chính sách tài chính, Ban Quản trị sẽ thông báo tới anh/chị.
                  </div>
                  <!-- div.content -->

                </div>
                <!-- div.item -->
                <div class="item">
                  <div class="head">
                    <div class="text">6. Tôi được lợi ích gì khi khai báo trong Cổng thông tin này?</div>
                    <!-- div.text -->
                    <div class="nut"><img src="assets/images/iconCollapse.png" alt="" /></div>
                    <!-- div.nut -->
                  </div>
                  <!-- div.head -->
                  <div class="content">
                    Khi tham gia Cổng Quản lý, anh/chị sẽ được cung cấp một nền tàng giúp anh/chị quản lý các thông tin về hoạt động khoa học
                    và giảng dạy của mình, từ đó tùy vào nhu cầu của từng cơ sở mà có thể quy đổi các hoạt động này sang
                    giờ nghiên cứu khoa học hoặc giờ giảng dạy. Mặt khác, anh chị có thể được kết nối tới các nhà khoa học
                    khác và tiếp cận nguồn tài liệu do các nhà khoa học khác đăng tải lên.

                  </div>
                  <!-- div.content -->

                </div>
                <!-- div.item -->
                <div class="item">
                  <div class="head">
                    <div class="text">7. Những đề tài nào cần được thêm vào?</div>
                    <!-- div.text -->
                    <div class="nut"><img src="assets/images/iconCollapse.png" alt="" /></div>
                    <!-- div.nut -->
                  </div>
                  <!-- div.head -->
                  <div class="content">
                    Tất cả đề tài các cấp: đề tài cơ sở, đề tài cấp bộ, đề tài cấp Nhà nước, … đều có thể thêm vào và quản lý. Với những đối
                    tượng là cán bộ đăng kí dưới tên các cơ sở, các thông tin này sẽ được phê duyệt bởi phòng Khoa học Công
                    nghệ hoặc tương đương để đảm bảo hồ sơ trong hệ thống của người sử dụng có thể được sử dụng với mục đích
                    khác.

                  </div>
                  <!-- div.content -->

                </div>
                <!-- div.item -->

              </div>
              <!-- div.main-toggle -->
              <!-- <div class="main-nav-page">
                <ul>
                  <li class="func">
                    <a href=""><img src="assets/images/all-page-left.png" alt="" /></a>
                  </li>
                  <li class="func">
                    <a href="">
														<img src="assets/images/page-left.png" alt="" />
													</a>
                  </li>
                  <li class="active">
                    <a href="">1</a>
                  </li>
                  <li class="">
                    <a href="">2</a>
                  </li>
                  <li class="">
                    <a href="">3</a>
                  </li>
                  <li class="func">
                    <a href=""><img src="assets/images/all-page-right.png" alt="" /></a>
                  </li>
                  <li class="func">
                    <a href="">
														<img src="assets/images/page-right.png" alt="" />
													</a>
                  </li>
                  <div class="clear"></div>

                </ul>
              </div> -->
              <!-- div.main-nav-page -->
            </div>
            <!-- end content -->

          </div>
          <!-- end tabpanel -->
          <div role="tabpanel" class="tab-pane" [class.active]="(tabStr==='lienhe')" id="lienhe">

            <div class="content-tab">
              <div class="row">
                <div class="col-md-7">
                  <div class="main-form1 form-lienhe">
                    <div class="tt-new">Gửi email liên hệ</div>
                    <!-- div.tt -->
                    <div class="item">
                      <div class="trai">
                        <div class="tt-s">Họ và tên:</div>
                        <!-- div.tt -->
                      </div>
                      <!-- div.trai -->
                      <div class="phai">
                        <div class="input">
                          <input type="text" disabled>

                        </div>
                        <!-- div.input -->

                      </div>
                      <!-- div.phai -->
                    </div>
                    <!-- div.item -->
                    <div class="item">
                      <div class="trai">
                        <div class="tt-s">Địa chỉ Email:</div>
                        <!-- div.tt -->
                      </div>
                      <!-- div.trai -->
                      <div class="phai">
                        <div class="input">
                          <input type="text" disabled>

                        </div>
                        <!-- div.input -->

                      </div>
                      <!-- div.phai -->
                    </div>
                    <!-- div.item -->
                    <div class="item">
                      <div class="trai">
                        <div class="tt-s">Số điện thoại:</div>
                        <!-- div.tt -->
                      </div>
                      <!-- div.trai -->
                      <div class="phai">
                        <div class="input">
                          <input type="text" disabled>

                        </div>
                        <!-- div.input -->

                      </div>
                      <!-- div.phai -->
                    </div>
                    <!-- div.item -->
                    <div class="item">
                      <div class="trai">
                        <div class="tt-s">Lời nhắn:</div>
                        <!-- div.tt -->
                      </div>
                      <!-- div.trai -->
                      <div class="phai">
                        <div class="input">
                          <textarea name="" id="" cols="30" rows="7" disabled></textarea>

                        </div>
                        <!-- div.input -->

                      </div>
                      <!-- div.phai -->
                    </div>
                    <!-- div.item -->

                    <div class="item">
                      <div class="trai"></div>
                      <!-- div.trai -->
                      <div class="phai">
                        <div class="phai-a">
                          <a style="cursor: pointer" (click)="sendFAQ()" class="btn-blue to">GỬI LIÊN HỆ</a>
                        </div>
                      </div>
                      <!-- div.phai -->
                    </div>
                    <!-- div.item -->
                  </div>
                  <!-- end main-form1 -->


                </div>
                <!-- div.col-md-6 -->

                <div class="col-md-5">
                  <div class="main-gioithieu">
                    <div class="bv">
                      <p>
                        <b>Thông tin liên hệ</b><br /> Mọi chi tiết xin liên hệ: <br /> Phòng Quản lý Khoa học và Công nghệ,
                        trường Đại học Y Hà Nội <br /> Địa chỉ: Nhà A1 – Đại học Y Hà Nội <br /> Điện thoại: 84.4.38523798
                        (120) <br /> Email: nckh@hmu.edu.vn
                      </p>
                      <p>
                        <b>Công ty VTC Công nghệ và Nội dung số</b><br /> Tầng 12, số 23, Lạc Trung, Hai Bà Trưng, Hà Nội
                        <br /> Điện thoại: 844-44551530 | Fax: 844-3636-7728 <br /> Hotline: 848-8606-7788

                      </p>


                    </div>
                    <!-- div.bv -->
                  </div>
                  <!-- div.main-gioithieu -->
                </div>
                <!-- div.col-md-5 -->

              </div>
              <!-- div.row -->
            </div>
            <!-- end content -->

          </div>
          <!-- end tabpanel -->
        </div>
        <!-- end tab-contente -->

      </div>
      <!-- div.col-md-10 col-md-offset-1 -->

    </div>
    <!-- div.row cus-20 -->

  </div>
  <!-- div.container -->

</div>
<!-- div.bao-all-main-content -->