<div class="bao-all-main-content">
  <div class="container">
    <div class="row cus-20">
      <div class="col-md-10 col-md-offset-1">
        <div class="main-nav-breakcrumb">
          <ul>
            <li><a [routerLink]="['/']">Trang chủ</a></li>
            <li>&rsaquo;</li>
            <li><a>Tin tức</a></li>
          </ul>

        </div>
        <!-- div.main-nav-breakcrumb -->
        Đã tìm thấy lỗi trong quá trình xử lý <br>
        <b style="color: red">{{ messageDetail }}</b>
      </div>
      <!-- div.col-md-10 col-md-offset-1 -->

    </div>
    <!-- div.row cus-20 -->

  </div>
  <!-- div.container -->

</div>
<!-- div.bao-all-main-content -->
