<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-1">
						<div class="list-logo">
							<a href="http://www.intecom.vtc.vn"><img src="assets/images/logo-intecom.png" alt="" /></a>
							<a href="http://www.hmu.edu.vn"><img src="assets/images/logo-daihoc.png" alt="" /></a>
						</div><!-- div.list-logo -->
						<p>
							Cổng Khoa học Công nghệ Y học Quốc gia <br />
							Bản quyền thuộc công ty VTC công nghệ và nội dung số & trường Đại học Y Hà Nội

						</p>

					</div><!-- div.col-md-6 col-md-offset-1 -->
					
					<div class="col-sm-6 col-md-2">
						<div class="tt">Cổng thông tin HMU</div><!-- div.tt -->
						<ul>
							<li><a [routerLink]= "['/about', 'gioithieu']">Giới thiệu</a></li>
							<li><a [routerLink]= "['/about', 'dieukhoan']">Điều khoản</a></li>
							<li><a [routerLink]= "['/about', 'trogiup']">FAQ</a></li>
						</ul>
					</div><!-- div.col-sm-6 -->
					<div class="col-sm-6 col-md-2">
						<div class="tt">Hỗ trợ</div><!-- div.tt -->
						<ul>
							<li><img src="assets/images/icon-ft1.png" alt="" /><span>097.333.2222</span></li>
							<li><img src="assets/images/icon-ft2.png" alt="" /><span>daihocy@gmail.com</span></li>
							<li><img src="assets/images/icon-ft3.png" alt="" /><span>024.2332.2223</span></li>
							<li><img src="assets/images/icon-ft4.png" alt="" /><span><a href="http://www.hmu.edu.vn">www.hmu.edu.vn</a></span></li>

						</ul>
					</div><!-- div.col-sm-6 -->

				</div><!-- div.row -->


			</div><!-- div.container -->


		</div><!-- div.footer -->
