<div class="bao-all-main-content">
  <div class="container">
    <div class="row">


      <div class="col-sm-10 col-sm-offset-1" *ngIf="step==4">
        <form novalidate name="formForgot4" #formForgot4="ngForm" (ngSubmit)="formForgot4.valid && gotostep(5)">
          <div class="main-bg-white1">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">

                <div class="tt-welcome">
                  Vui lòng nhập email để tiến hành lấy lại mật khẩu
                </div>
                <!-- div.tt-welcome -->

                <div class="main-form1">
                  <div class="main-xacnhan-reg">
                    <div class="tt-a red" *ngIf="ForgotError">
                      {{ForgotError}}
                    </div>
                  </div>
                  <div class="item">
                    <div class="trai">
                      <div class="tt-s">Email</div>
                      <!-- div.tt -->
                    </div>
                    <!-- div.trai -->
                    <div class="phai">
                      <div class="input have_tool">
                        <input type="text" [(ngModel)]="ModelUsername" name="username" #username="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                          minlength="3" maxlength="50">


                        <div class="tool" *ngIf="username?.errors?.required && formForgot4.invalid&& formForgot4._submitted">
                          Nhập Email
                        </div>
                        <div class="tool" *ngIf="(username?.errors?.pattern||username?.errors?.minlength||username?.errors?.maxlength) && formForgot4.invalid&& formForgot4._submitted">
                          Email không đúng định dạng
                        </div>
                      </div>
                      <!-- div.input -->

                    </div>
                    <!-- div.phai -->
                  </div>
                  

                  <div class="item">
                    <div class="trai"></div>
                    <!-- div.trai -->
                    <div class="phai">
                      <div class="phai-a">
                        <button #btsubmit4 type="submit" style="visibility:hidden">TIẾP TỤC </button>
                        <a (click)="btsubmit4.click()" href="javascript:;" class="btn-blue to">Xác Nhận</a>
                      </div>
                      <!-- div.phai-a -->
                    </div>
                    <!-- div.phai -->
                  </div>
                  <!-- div.item -->

                </div>
                <!-- end main-form1 -->
              </div>
              <!-- div.col-md-8 col-md-offset-2 -->


            </div>
            <!-- div.row -->


          </div>
          <!-- div.main-bg-white1 -->
        </form>
      </div>
      <div class="col-md-10 col-md-offset-1" *ngIf="step==5">

        <div class="reg-complete">
          <div class="tt-a">Hệ thống đã gửi email cho bạn
                                                        <br />
                                        Vui lòng làm theo hướng dẫn trong email để lấy lại mật khẩu</div>
          <!-- div.tt-a -->
          <img src="assets/images/checkok.png" alt="" class="img">

          
          <!-- div.note -->


        </div>
        <!-- div.reg-complete -->
      </div>
    </div>
  </div>
</div>
