<div class="bao-all-main-content">
  <div class="container">
    <div class="row">


      <div class="col-sm-10 col-sm-offset-1" *ngIf="step==4">
        <form novalidate name="formRegister4" #formRegister4="ngForm" (ngSubmit)="formRegister4.valid&& (password.value=== retypepassword.value) && gotostep(5)">
          <div class="main-bg-white1">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">

                <div class="tt-welcome">
                  Chào mừng bạn đã tham gia cùng chúng tôi . <br> Rất cảm ơn bạn đã cung cấp thông tin chi tiết, giờ chỉ
                  cần bước cuối cùng tạo tài khoản
                </div>
                <!-- div.tt-welcome -->

                <div class="main-form1">
                  <div class="main-xacnhan-reg">
                    <div class="tt-a red" *ngIf="RegisterError">
                      {{RegisterError}}
                    </div>
                  </div>
                  <div class="item">
                    <div class="trai">
                      <div class="tt-s">Email</div>
                      <!-- div.tt -->
                    </div>
                    <!-- div.trai -->
                    <div class="phai">
                      <div class="input have_tool">
                        <input type="text" [(ngModel)]="usermodel.username" name="username" #username="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                          minlength="3" maxlength="50">


                        <div class="tool" *ngIf="username?.errors?.required && formRegister4.invalid&& formRegister4._submitted">
                          Nhập Email
                        </div>
                        <div class="tool" *ngIf="(username?.errors?.pattern||username?.errors?.minlength||username?.errors?.maxlength) && formRegister4.invalid&& formRegister4._submitted">
                          Email không đúng định dạng
                        </div>
                      </div>
                      <!-- div.input -->

                    </div>
                    <!-- div.phai -->
                  </div>
                  <div class="item">
                    <div class="trai">
                      <div class="tt-s">Họ và tên</div>
                      <!-- div.tt -->
                    </div>
                    <!-- div.trai -->
                    <div class="phai">
                      <div class="input have_tool">
                        <input type="text" [(ngModel)]="usermodel.full_name" name="fullname" #fullname="ngModel" required>



                        <div class="tool" *ngIf="fullname?.errors?.required && formRegister4.invalid&& formRegister4._submitted">
                          Nhập họ và tên
                        </div>

                      </div>
                      <!-- div.input -->

                    </div>
                    <!-- div.phai -->
                  </div>
                  <!-- div.item -->
                  <div class="item">
                    <div class="trai">
                      <div class="tt-s">Mật khẩu</div>
                      <!-- div.tt -->
                    </div>
                    <!-- div.trai -->
                    <div class="phai">
                      <div class="input have_tool ">
                        <input type="password" [(ngModel)]="usermodel.password" name="password" #password="ngModel" minlength="4" maxlength="18"
                          required>
                        <div class="tool" *ngIf="password?.errors?.required && formRegister4.invalid&& formRegister4._submitted">
                          Nhập mật khẩu
                        </div>
                        <div class="tool" *ngIf="(password?.errors?.minlength||password?.errors?.maxlength)&& formRegister4.invalid&& formRegister4._submitted">
                          Mật khẩu từ 4-18 ký tự
                        </div>
                      </div>
                    </div>

                    <!-- div.phai -->
                  </div>
                  <!-- div.item -->
                  <div class="item">
                    <div class="trai">
                      <div class="tt-s">Nhập lại mật khẩu</div>
                      <!-- div.tt -->
                    </div>
                    <!-- div.trai -->
                    <div class="phai">
                      <div class="input have_tool ">
                        <input type="password" [(ngModel)]="usermodel.retypepassword" name="retypepassword" #retypepassword="ngModel">
                        <div class="tool" *ngIf="(password.value!= retypepassword.value)&&  formRegister4._submitted">
                          Mật khẩu không giống nhau
                        </div>
                      </div>
                      <!-- div.input -->

                    </div>
                    <!-- div.phai -->
                  </div>
                  <!-- div.item -->

                  <div class="item">
                    <div class="trai"></div>
                    <!-- div.trai -->
                    <div class="phai">
                      <div class="phai-a">
                        <button #btsubmit4 type="submit" style="visibility:hidden">TIẾP TỤC </button>
                        <a (click)="btsubmit4.click()" href="javascript:;" class="btn-blue to">ĐĂNG KÝ TÀI KHOẢN</a>
                      </div>
                      <!-- div.phai-a -->
                    </div>
                    <!-- div.phai -->
                  </div>
                  <!-- div.item -->

                </div>
                <!-- end main-form1 -->
              </div>
              <!-- div.col-md-8 col-md-offset-2 -->


            </div>
            <!-- div.row -->


          </div>
          <!-- div.main-bg-white1 -->
        </form>
      </div>
      <div class="col-md-10 col-md-offset-1" *ngIf="step==5">

        <div class="reg-complete">
          <div class="tt-a">Chúc mừng bạn đã tạo tài khoản thành công</div>
          <!-- div.tt-a -->
          <img src="assets/images/checkok.png" alt="" class="img">

          <div class="note">
            Chuyển về màn hình chính sau <i><b>{{Time}} giây</b></i> hoặc
            <a routerLink="/" class="link">Bấm vào đây để chuyển</a>
          </div>
          <!-- div.note -->


        </div>
        <!-- div.reg-complete -->
      </div>
    </div>
  </div>
</div>
